@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto+Slab:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding-inline: 1rem;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--clr-main-bg);
}
.d-none {
  display: none;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: .7em 1.3em;
  border-radius: var(--border-radius);
  font-weight: bold;
  cursor: pointer;
}
.btn-primary {
  background: var(--clr-primary);
  color: #fff;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-primary:hover {
  background: var(--clr-primary-btnhover);
}
.btn-primary:active {
  background: var(--clr-primary-btnactive);
}

.card {
  margin: 3rem auto;
  background-color: #fff;
  text-align: center;
  padding: 1rem 3rem 2rem 3rem;
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 10px 0 #00000052;
}

.form-control {
  width: 100%;
  display: block;
  padding: .7rem;
  border-radius: var(--border-radius);
  border: 1px solid #d3d3d3;
  outline: none;
  color: #333;
  margin-bottom: 1rem;
}



::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--clr-chat-bg);
}
::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 6px;
  border: 3px solid var(--clr-chat-bg);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}