@import "./default.css";

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #d3d3d3;
  padding: 0 2rem 1rem 2rem;
}


.chat-card {
 max-width: 800px;
 margin: 3rem auto;
 background-color: #fff;
 padding: 1rem 0 2rem 0;
 border-radius: var(--border-radius);
 box-shadow: 3px 3px 10px 0 #00000052;
}

.chat {
  height: 75vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.chat-window {
  flex: 1;
  background: var(--clr-chat-bg);
  overflow-y: scroll;
}

.messages {
  padding: 0 2rem;
}
.single-message {
  background: #fff;
  padding: 1rem;
  max-width: 70%;
  margin: 1rem 0;
  border-radius: var(--border-radius);
}
.single-message_name {
  font-weight: bold;
  color: var(--clr-primary);
  margin-bottom: .3rem;
}
.right {
  margin-left: auto;
  background-color: var(--clr-primary);
  color: #fff;
}
.right .single-message_name {
  display: none;
}

.chat-form {
  padding: 0;
  border-top: 2px solid #d3d3d3;
}

#feedback {
  color: #6d6d6d;
  border-bottom: 2px solid #d3d3d3;
  padding: .3rem 2rem;
  background-color: var(--clr-chat-bg);
}

.inline-feedback {
  color: #6d6d6d;
}

.input-group {
  margin: 1rem 2rem 0 2rem;
}