.wrapper {
  position: relative;
  height: 100vh;
}

.complete {
  text-decoration: line-through;
  color: #a3a3a3;
}

.title {
  cursor: pointer;
  flex: 1;
}

.add {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  aspect-ratio: 1;
}

.fa-trash {
  cursor: pointer;
}

.animate {
  animation: slide-in 350ms ease-out;
}
.slideout {
  animation: slide-out 350ms ease-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}